body {
  margin: 0;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}

.seccion {
  height: 100vh;
  width: 100%;
}

.seccion-1 {
  /* background-image: linear-gradient(45deg, red, orange); */
  /* background-image: radial-gradient(farthest-side, red, orange); */
  background-image: url("Des_de_la_Serra_Gelada_cap_a_la_mar_-_panoramio.jpg");
  /* background-image: url('7ca5b3326bea-las-ciudades-mas-bonitas-del-mediterraneo-t.avif'); */
  background-size: cover;
  /* background-repeat: repeat-y; */
  /* background-position: bottom right; */
  background-attachment: fixed;
}

.seccion-2 {
  background: rgb(240, 90, 126);
  background: linear-gradient(
    90deg,
    rgba(18, 91, 154, 1) 74%,
    rgba(11, 132, 148, 1) 100%
  );
}
