/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
* {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}
/*selector de etiqueta titulo h1*/
h1 {
  color: #EEC643;
  text-decoration: underline wavy;
}
/*selector de etiqueta enlace a*/
nav a {
  text-decoration: none;
  color: #0D21A1;
  font-weight: bold;
}

/* combinador de hijos */
nav > ul > li {
  list-style: none;
}

/* p {
  text-align: right;
} */
/* selector de clase */
.parrafo {
  text-align: justify;
}
p.rojo-fuerte {
  color: darkred;
}
/* selector de ID */
#tituloPrincipal {
  color: #EEC643;
  text-align: center;
}

span {
  color: #141414;
}

/* selector de ID: (1, 0, 0) */
/* selector de clase: (0, 1, 0) */
/* selector de elemento: (0, 0, 1) */

/* selector de atributo */
[type="text"] {
  width: 200px;
}
/* selector de hermanos adyacentes */
p ~ p {
  font-style: italic;
}
